*,
*:before,
*:after{
	box-sizing: border-box;
}
/* 	RESET CSS
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general styles */


body{
	min-width: 1440px;
  	background-color: #eff2f8;
  	font: 16px Helvetica, Arial, sans-serif;
}

.wrapper{
	display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.logo{
  font: bold 24px/1.33 Helvetica, sans-serif;
    color: #6a75ca;
    margin: 0 165px 0 48px;
    text-transform: uppercase;
   /* position: absolute;
    left: 0;*/
}
.header{
	background: #fff;
    padding: 24px 0;
    box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
    display: flex;
}
/*.container{
	max-width: 953px;
	margin: 0 auto;
}
*/
.nav {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.nav-list{
	display: flex;
	/*margin-left: 48px;*/
}

.nav-list-item + .nav-list-item{
	margin-left: 47px;
}

.nav-list-item a{
	text-transform: capitalize;
	font: bold 16px/2 Helvetica, sans-serif;
  	color: #131320;
}
.nav-list-item.active a{
	color: #6a75ca;
}

.content{
	padding: 100px 0;
}

.section{
	margin:48px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	
}
.card{
	padding:32px 60px 32px 32px;
	overflow: auto;

	height: 127px;
	background-color: #fff;
	color: #7d868e;
clip-path: polygon(95% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
	border-radius: 10px;
	position: relative;
	
	
}
.card.info{
	padding-left: 88px;
}
.card.info:before{
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('../img/info.svg');
	position: absolute;
	top: 50px;
    left: 40px;
}

.group{
	display: flex;
	justify-content: space-between;
}


.group .card{
	width: 240px;
	height: 240px;
	/*clip-path: polygon(180px 0, 100% 60px, 100% 100%, 0 100%, 0 0);*/
	padding:32px;

	
}

code{
	font: 16px/1.31 Courier;
    
}

.card:hover{
	background-color: #6a75ca;
	color: #fff;
}

.cards + .cards{
	padding-top: 64px;
}

/*--------------------------------------------------------*/

.main {
	display: flex;
	flex-grow: 1;
}
.sidebar {
	background: #6a75ca;
	padding: 32px;
	flex: 0 0 176px;
}
.sidebar-list {
	width: 176px;
}
.sidebar-list li{
	margin-bottom: 16px;
}
.sidebar-list li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 32px;
	padding: 0 0 0 16px;
	position: relative;
	display: inline-block;
}
.sidebar-list-item a:hover {
    color: #ccc;
}
.logo:hover {
    color: #ccc;
}
.sidebar-list li.active a:before,
.sidebar-list li a:hover:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -6px 0 0;
}
.content {
	padding: 0 0 100px;
	flex-grow: 1;
}
.title {
	padding: 24px 48px;
	font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #131320;
	border-bottom: 1px solid #ccc;
	
}

section p{
	padding-top: 24px;
}
.footer {
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	position: fixed;
	width: 100%;
	min-width: 1024px;
	bottom: 0;
	left: 0;
}
.footer-area {
	padding: 24px;
	display: flex;
	justify-content: space-between;
}

.subtitle{
	font: bold 24px/1.33 Helvetica, sans-serif;
    color: #131320;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.headings{
	padding: 24px 0;
}
.headings-item{
	color: #131320;
	text-transform: capitalize;
	font: bold 16px/1.31 Helvetica, sans-serif;
	padding-bottom: 21px;
}

.headings-item span{
	text-transform: uppercase;
}

h1.headings-item{
	font-size: 54px;
	line-height: 1.17;
	padding: 15px 0 42px;
}

h2.headings-item{
	font-size: 36px;
	line-height: 1.17;
}

h3.headings-item{
	font-size: 24px;
line-height: 1.75;}


.outline{
	border: 1px solid #4f58b2;
    border-radius: 16px;
    padding:15px;
    position: relative;
}


.html .card{
  	height: 185px;
  	clip-path: polygon(95% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}

.css .card{
	clip-path: polygon(95% 0, 100% 5%, 100% 100%, 0 100%, 0 0);
  	height: 1335px;
}

.outline:before{
	position: absolute;
 
    font: 12px Helvetica,sans-serif;  
    color: #ffc806;
    background-color: #eff2f8;
    z-index: 5;
    top: -7px;
    left: 16px;
    padding: 0 5px;
}
.outline.html:before{
	content: 'HTML';
 }

 .outline.css:before{
	content: 'CSS';
 }
.card-container{
	filter: drop-shadow(rgba(0,0,0,0.1) 0px 0px 5px);
	width: 1104px;
	margin-bottom: 24px;
}